Source: nomadcap
Section: utils 
Priority: optional
Maintainer: Jonathan Cormier <jonathan@cormier.co>
Build-Depends: debhelper (>= 12),
    debhelper-compat (= 13),
    libpcap-dev,
    libcsv-dev
Standards-Version: 4.6.1
Vcs-Browser: https://github.com/jcormir/nomadcap
Vcs-Git: https://github.com/jcormir/nomadcap.git

Package: nomadcap
Architecture: amd64
Depends: ${shlibs:Depends},
    ${misc:Depends},
    libpcap,
    libcsv,
    ieee-data
Description: PCAP tool that aids in locating misconfigured network stacks 
 Nomadcap is a PCAP based tool that aids in identifying mis-configured network
 stacks from live capture or offline files.